.comment-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  gap: 0.25rem;
}

.comment {
  gap: 0.5rem;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin-top: 0.4rem;
  border-radius: var(--border-radius-boxes);
  background-color: var(--background-super-light);
  border: 1px solid var(--border-color);
}

.my-comment-wrapper {
  flex-direction: row-reverse;
}

.comment-timestamp {
  font-size: 0.65rem;
  font-style: italic;
  color: var(--text-secondary);
}

.my-comment {
  flex-direction: row-reverse;
}

.my-comment-timestamp {
  align-self: flex-end;
}

.comment-and-timestamp {
  display: flex;
  flex-direction: column;
  width: 100%;
}
