@import "../../variables.css";

.initials-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--primary-gradient-background);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

.author-name {
  margin-top: 0.2rem;
  margin-left: 0.25rem;
  font-size: 0.9rem;
  color: var(--text-secondary);
}

.me-icon {
  color: var(--bs-primary);
}
