@import "../../variables.css";

.scrollbox-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 0.5rem;
}

.scrollbox-content {
  flex: 1;
  overflow: scroll;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-boxes);
}

.suggestion-timestamp {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.suggestion-list-group-item {
  padding-left: 0.5rem !important;
  padding-right: 1.5rem !important;
  border-left: none !important;
  border-right: none !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.suggestion-list-group-item:hover {
  background-color: var(--bs-teal-super-opaque);
  cursor: pointer;
}

.suggestion-list-group-item-active {
  background-color: var(--bs-teal-medium-opaque) !important;
}

.suggestion-list-group-item:first-child {
  border-top: none !important;
}

.suggestion-list-group-item:last-child {
  border-bottom: none !important;
}

.footer-actions {
  padding: 0.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
