/* Import variables */
@import "../../variables.css";

.secondary-text {
  margin-left: 0.25rem;
  margin-top: 0.2rem;
  font-size: 0.9rem;
  color: var(--text-secondary);
}

.suggestion-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 0.5rem;
}

.suggestion-list-content {
  flex: 1;
  overflow: scroll;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.new-suggestion {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background-color: white;
  padding: 0.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-item-hover {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.list-group-item-hover:hover {
  background-color: var(--bs-teal-super-opaque);
  cursor: pointer;
}

.list-group-item-active {
  background-color: var(--bs-teal-medium-opaque) !important;
}
