/* variables.css */
:root {
  --text-secondary: #6c757d; /* Secondary text color - gray */
  --border-color: #ddd; /* Border color - gray */
  --background-light: #f0f0f0; /* Light background color - gray */
  --background-medium: #c0c0c0; /* Medium background color - gray */
  --box-shadow-light: rgba(0, 0, 0, 0.1); /* Light box shadow */
  --box-shadow-dark: rgba(0, 0, 0, 0.2);
  --bs-teal-opaque: rgba(32, 201, 151, 0.8);
  --bs-teal-medium-opaque: rgba(32, 201, 151, 0.3);
  --bs-teal-super-opaque: rgba(32, 201, 151, 0.1);

  --primary-gradient-background: linear-gradient(
    120deg,
    var(--bs-primary),
    var(--bs-teal) /* For icons and optimistic buttons */
  );
}
