@import "../../variables.css";

.comment {
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--background-super-light);
  border: 1px solid var(--border-color);
}

.comment-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  gap: 0.25rem;
}

.my-comment-wrapper {
  flex-direction: row-reverse;
}

.no-comments-message {
  display: flex;
  margin-top: 0.25rem;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  font-size: 0.95rem;
  font-style: italic;
}

.suggestion-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 0.5rem;
}

.suggestion-comments {
  flex: 1;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.suggestion-comments .list-group-item:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.my-comment {
  flex-direction: row-reverse;
}

.my-comment-timestamp {
  align-self: flex-end;
}

.comment-and-timestamp {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-timestamp {
  font-size: 0.65rem;
  font-style: italic;
  color: var(--text-secondary);
}

.comment-input {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background-color: white;
  padding: 0.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-comment-btn {
  color: white;
  background: var(--bs-primary);
}
