.no-comments-message {
  display: flex;
  margin-top: 0.25rem;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  font-size: 0.95rem;
  font-style: italic;
}

.suggestion-comments .list-group-item {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.submit-comment-btn {
  color: white;
  background: var(--bs-primary);
}
